/* --- APP --- */
.app-container {
    display: flex;
    flex-direction: column;
    margin: 50px 120px;
    border: 1px solid black;
}

/* --- FORM --- */

/* container for form inclyding the header */
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* header */
.header {
    font-size: 50px;
}

/* form itself */
.tweet-form {
    border: #b7b7b7 solid 1px;
    display: flex;
    margin: 20px 0;
}

/* all form children */
.tweet-form > * {
    padding: 10px;
    border: none;
}

#userInput {
    width: 250px;
}

/* form child, @/# box */
.at-hashtag {
    border-right: 1px #b7b7b7 solid;
    cursor: pointer;
}

/* form child, input button */
.input-btn {
    border-left: 1px #b7b7b7 solid;
    cursor: pointer;
}

/* --- END FORM --- */

/* --- LOWER CONTAINER --- */
.lower-container {

}

/* */
.outer-header-container {
  display: flex;
  align-content: center;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
}

.outer-tweet-container {
  display: flex;
  align-content: center;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
}

.tweet-header .tweet-body {
    width: 80%;
}

.toxic-header .model-prediction {
    width: 20%;
    text-align: right;
}
